{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSD</title>
    <link rel="stylesheet" href="{% static 'css/dhoni.css' %}">
</head>
<body style="background-image: url('{% static 'images/bgimage.jfif' %}')">
    <center>
        <h1>MAHENDRA SINGH DHONI</h1>
        <img src="{% static 'images/dhoni.jfif' %}" alt="">
        <img src="{% static 'images/msd.jfif' %}" alt="">
    </center>
</body>
</html>